*{
  margin: 0%;
  padding: 0%;
}


body{
  font-family: 'Poppins', sans-serif;
  background:radial-gradient( rgb(221, 230, 221),rgb(157, 240, 4));
}

/*************************** GENERAL ****************************/

.site-section{
  padding-top: 10rem;
  min-height: 80vh;
}

.section-title{
  display: flex;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
}

.logo{
  width: 70px;
  margin-right: 12px;
}

.btn:hover,
.btn:focus {
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.15);
}

.card{
  width: 18rem ;
  margin-bottom: 2rem;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-body{
  border-radius: 30px !important;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/************************************* NAIGATION BAR  ************************/


.site-header {
  background:linear-gradient(to right,rgb(13, 128, 48),rgb(161, 197, 2)); 
}


.header-logo{
  font-family: 'Pattaya', sans-serif;
  text-decoration: none;
  color: #fff;
}
.nav-link {
  color: white !important;
}

.nav-link:hover{
  background-color: #fff;
  color:rgb(29, 129, 3) !important;
}

.navbar-toggler{
  background-color:red;

}

.mobile-menu-icon{
  color: #fff;
}

.navbar-header{
  font-size: 20px;
  color:white !important;  
}
.loginbtn{
  text-decoration: none;
  color: #fff;
}

.loginicon{
  background-color: rgb(255, 51, 0) !important;
  margin-left: 20px;
}
.loginicon:hover{
  color: white !important;


}
/******************************** HOME ***************************/
.site-section3{
  padding-top: 4rem;
  min-height: 40vh;
  width: 100%;
}
/*********** HERO  ************/

.hero{
  min-height: 100vh;
  height: 100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.hero-text{
  display: flex;
  align-items: center;
}


.hero-background{
  width: 800px;
  border-radius: 200px 100px 100px 50px;
}
.short-description {
  font-size: 22px;
  margin-bottom: 30px;
  line-height: 1;
} 


/************** SECTION 1 *****************/
.s1 h1{
  font-size: 70px;
  color:rgb(255, 51, 0);
  animation: blinkingText2 2s infinite;
}
@keyframes blinkingText2{
  0%		{ color: #0c9908;}
  25%		{ color: #0a0a09;}
  50%		{color: #f80707;}
  75%		{ color: #0c8177;}
  100%	{color: #171bfc;}
}




/************** SECTION 2 *****************/
.site-section2{
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: stretch;
  /* margin-left: 25%; */
  width:800px
}


#s2 .slide{
  display: grid;
  align-items:stretch;
  justify-content: stretch;
}


/***************** SECTION 3 **************/
#s3 .skill{
  width:500px;
  border-radius: 25px;
}
.section3-text{
  display: flex;
  align-items: center;
  padding:5rem ;
}
/************* SECTION 4 *******************/
#s4 .team{
  width: 300px;
}












/* *************Testimonial************** */
#s5 .card{
  border-radius: 100px 100px 50px 50px;

}
#s5 img{
  border-radius: 50px 50px 0px 0px;
}




/************************** ABOUT  *****************************/
.meet .card{
  border-radius: 100px 100px 50px 50px;

}
.meet img{
  border-radius: 50px 50px 0px 0px;
}

/************************ COURSES ***********************************/
.courses .card{
  border-radius: 100px 100px 50px 50px;

}
.courses img{
  border-radius: 50px 50px 0px 0px;
}

.coursebtn{
  display: inline;
  margin-left:1rem ;
}

.buybtn{
  display: inline;
  margin-left: 5rem;
}

.rate-course{
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
  animation: blinkingText 2s infinite;
}
.courses .card-body{
  padding-bottom: 2rem;
}
@keyframes blinkingText{
  0%		{ color: #09ff00;}
  25%		{ color: #f3e357;}
  50%		{color: #f80707;}
  75%		{ color: #1bebd9;}
  100%	{color: #171bfc;}
}







/****************************** CONTACT **********************************/
.contact .button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Text-Bold{
  padding-bottom: 1rem;
}




/********************************* FOOTER **********************************/
.footer{
  background:rgb(42, 80, 7);
  width: 100%;
  font-size: 18px;
  color: #fff;
}

.logo{
  font-size: 20px;
  padding: 0%;
  font-weight: bold;
  
}
.copyright{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-block1{
  display:flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 1rem;
  padding: 0px 3px  !important;

}

.footer .a{
  text-decoration: none;
}

.footer .bi{
  padding: 5px;
  size: 8px;
  color: #fff;
  text-decoration: none;

}

.footer .bi:first-child{
  padding-left: 0px;
}

.footer-block2{
  display:flex;
  flex-flow: column;
  align-items: flex-end;
  margin-top:1rem;
 
}

.footer .Sub-heading{ 
font-size: medium;
}






/**************************************** LOGIN *******************************/
.space-login{
  margin-top:1rem;
  padding-left: 10px;
}

.logo-black{
  color:black ;
}

.login-page-image{
  border-radius: 20px;
}

/*************************************REGISTER NEW ACCOUNT**********************/
.register-title{
  margin-left: 2rem;
}

.register .modal-footer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-close{
  
  position: absolute;
  right: 15px;
}
.terms-conditions{
  text-decoration:underline;
  border-style: none;
  background-color: none;
  color: rgb(13,110,253);
}

/**************************************** CART **********************************/
.amt{
  display: grid;
  align-items: center;
  justify-content: end;
}

.terms-btn{
  margin-left: 8px;
}
.login-redirect{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.cart-menu .img-fluid{
  width: 500px;
  border-radius: 40px 200px 70px 100px;
}


.cart-menu .section-title h1{
  font-size: 4rem;

}